[Desktop Entry]
Encoding=UTF-8
Name=GNOME Robots
Name[be]=GNOME Робаты
Name[bn]=জিনোম রোবোট
Name[ca]=GNOME Robots
Name[cs]=GNOME Roboti
Name[da]=Gnobotter
Name[de]=GNOME Robots
Name[el]=GNOME Robots
Name[es]=Robots GNOME
Name[fi]=Gnomen Robottipeli
Name[fr]=GNOME Robots
Name[he]=רובוטי GNOME
Name[hu]=GNOME Robots
Name[it]=GNOME Robots
Name[ja]=GNOME ロボット
Name[lv]=GNOME Roboti
Name[mn]=GNOME робот
Name[ms]= Robots GNOME
Name[nl]=GNOME Robots
Name[no]=GNOME Robots
Name[pl]=Roboty GNOME
Name[pt]=Robots GNOME
Name[pt_BR]=GNOME Robots
Name[sk]=GNOME roboti
Name[sl]=Roboti GNOME
Name[sv]=GNOME-robotar
Name[tr]=GNOME Robot
Name[uk]=Роботи
Name[vi]=Gnome Robots
Name[zh_TW]=GNOME 機械人
Comment=Robots game
Comment[be]=Гульня "Робаты"
Comment[bg]=Игра с роботи
Comment[bn]=রোবোট খেলা
Comment[ca]=Joc de Robots
Comment[cs]=Hra GNOME Roboti
Comment[da]=Robotspil
Comment[de]=Robots-Spiel
Comment[el]=Παιχνίδι Ρομπότ
Comment[es]=Juego de Robots
Comment[et]=Robotimäng
Comment[fa]=بازی روبوت‌ها
Comment[fi]=Robotit-peli
Comment[fr]=Jeu de Robots
Comment[he]=משחק רובוטים
Comment[hu]=Robots játék
Comment[it]=Gioco Robots
Comment[ja]=ロボット・ゲーム
Comment[lv]=Robotu spēle
Comment[mn]=Роботууд тоглоом
Comment[ms]=Permainan Robot
Comment[nl]=Robots-spel
Comment[no]=Robotspill
Comment[pl]=Gra Roboty
Comment[pt]=Jogo Robots
Comment[pt_BR]=Jogo de Robôs
Comment[ru]=Игра "Роботы" для среды GNOME
Comment[sk]=Hra Roboti
Comment[sl]=Igra z roboti
Comment[sv]=Robotspel
Comment[tr]=Robot oyunu
Comment[uk]=Гра "Роботи"
Comment[vi]=Trò chơi Robots
Comment[zh_TW]=機械人遊戲
Exec=gnobots2
Icon=gnome-gnobots2.png
Terminal=false
Type=Application
Categories=GNOME;Application;Game;ArcadeGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=gnobots2
StartupNotify=true
