[Desktop Entry]
Name=GnobotsII
Name[pt_BR]=GnobotsII
Name[da]=Gnobotter II
Name[de]=GnobotsII
Name[el]=GnobotsII
Name[es]=GnobotsII
Name[et]=GnobotsII
Name[fi]=GnobotsII
Name[fr]=GnobotsII
Name[gl]=GnobotsII
Name[ja]=GnobotsII
Name[lt]=Gnobots II
Name[no]=GnobotsII
Name[pt]=GnobotsII
Name[ru]=ηΞΟΒΟΤΣ II
Name[sk]=Gnoboti II
Name[sv]=Gnobots II
Comment=Gnome Robots game
Comment[pt_BR]=Jogo Robots Gnome
Comment[da]=Robots spil til Gnome - udvidet version
Comment[de]=robots(6) fόr Gnome - erweiterte Version
Comment[el]=Αποφύγετε τα ρομπότ που σας ακολουθούν
Comment[es]=Trate de escapar a los robots que le asedian
Comment[et]=II versioon GNOME robotimδngust
Comment[fi]=Gnome-robotit II
Comment[fr]=Essayez d'ιchaper aux robots qui vous poursuivent
Comment[gl]=Xogo de Robots de Gnome
Comment[ja]=GNOMEΘΗ₯ν₯ά₯Γ₯Θ₯²‘Ό₯ΰ
Comment[lt]=Gnome Robots ώaidimas
Comment[no]=Gnome Robots spill
Comment[pt]=Jogo Gnome Robots
Comment[ru]=ιΗÒΑ ςΟΒΟΤΩ ΔΜΡ Gnome
Comment[sk]=Hra GNOME Roboti
Comment[sv]=Gnome robot-spel
Exec=gnobots2
Icon=gnome-gnobots2.png
Terminal=0
Type=Application
