/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnobots2.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnobots2.xml
/cs/cs.po
/cs/gnobots2.xml
/de/de.po
/de/gnobots2.xml
/el/el.po
/el/gnobots2.xml
/en_GB/en_GB.po
/en_GB/gnobots2.xml
/es/es.po
/es/gnobots2.xml
/eu/eu.po
/eu/gnobots2.xml
/fr/fr.po
/fr/gnobots2.xml
/gnobots2-C.omf
/gnobots2-ca.omf
/gnobots2-cs.omf
/gnobots2-de.omf
/gnobots2-el.omf
/gnobots2-en_GB.omf
/gnobots2-es.omf
/gnobots2-eu.omf
/gnobots2-fr.omf
/gnobots2-it.omf
/gnobots2-oc.omf
/gnobots2-sv.omf
/it/gnobots2.xml
/it/it.po
/oc/gnobots2.xml
/oc/oc.po
/so_locations
/sv/gnobots2.xml
/sv/sv.po
/tags
